body {
  
  background:#219EBC ;
  font-size: 80%;
  width: 100%;
  height: 100%;
  margin-top: 140px !important;
  margin-bottom: 90px;
}
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: medium; 

}
.txtContato {
  color: #fff;
  font-size: 30px;
  text-align: center;
}
.imgContato {
  width: 60px;
  padding-right: 20px;
}
main {
  /* background:#219EBC ; */

  margin: 8px 0;
}

main div {
  /* background: black; */
  /* background: #fff; */
  /* margin: 0 auto; */
  color: white;
  /* padding: 8px; */
  margin: 2px auto;
  
}

/* main div:nth-child(1) {
  width: 200px;
} */
main div:nth-child(2) {
  width: 370px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 1px 5px 222px #8ECAE6; 
  background-color:#fff ; 
}
label ,h3 {
  /* background-color: black; */
  color:#219EBC;
  margin-top: 20px;
}

.logimg {
  width: 180px;
  height: 100px;
}

.boton {
border: none;
outline: none;
height: 35px;
color: #fff;
background: #fb8500;
border-radius: 20px;
transition: 0.2s;
margin-right: 20px;
margin-top:20px;
}

.boton:hover {
  cursor: pointer;
  /* background: #ff4d4d; */

  background: #ffb703;
  color:#023047;
  transition: 0.2;
}

.aLogin {
font-weight: bold;
text-decoration: none;
font-size: 12px;
line-height: 20px;
/* color: #bdb5b5; */
/* color: #8ecae6; */

color: #023047 !important;

/* color: #FFF; */
transition: 0.2s;
}

.aLogin:hover {
transition: 0.2s;
/* color: #ff4d4d; */
color: red;
/* color: #023047; */

}



.iconInstagram, .iconGit{
height: 20px;
margin: 20px;
}
footer{
  display: flex;
  /* align-items: center; */
  width: 100%;
  height: 100px;
  color:#FFF; 
  background-color: #023047;
  position: fixed; 
  bottom: 0;
  justify-content: center;
  /* text-decoration: none; */
  }
