body { 
  background:#219EBC ;
  font-size: 80%;
  width: 100%;
  height: 100%;
  margin-top: 140px !important;
  margin-bottom: 100px;
  
}
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: medium; 

}
.txtContato {
  color: #fff;
  font-size: 30px;
  text-align: center;
}
.txtcriado{
  color: #fff;
  text-align: center;
}
.imgContato {
  width: 60px;
  padding-right: 20px;
}
.card {
  min-height: 200px;
  /* padding: auto; */
  padding: 5px;
  text-align: center;
  color:#FFB703;
  border-radius: 10px;
}
/* toda parte com icones do squad ou seja a parte que esta em white */
.timeDev {
  background-color: #FFF;
  width: 100%;
  height: 100%;
  text-align: center;
}
.container {
  color: #219EBC;
}

/* icones dos perfils de cada m do squad */
.caption{
  padding-bottom: 10px;
  
}
#idDev {
  color: #219EBC;
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
}
#pDev{
  color: #219EBC;
  text-align: center;
}
#pDevSobre {
  color:#FFB703;
  text-align: center;
}

.imgPerfil {
  border-radius: 50%;
  margin:  0 auto;
}
footer{
  display: flex;
  /* align-items: center; */
  width: 100%;
  height: 100px;
  color:#FFF; 
  background-color: #023047;
  position: fixed; 
  bottom: 0;
  justify-content: center;
  /* text-decoration: none; */
  }
@media only screen and(max-width:480px){
  body{
    padding: 0;
  }
}