.logo {
    width: 85px !important;
    padding: 5px !important;
}

.navbar{
    /* background-color: #219EBC !important; */
    background-color:white !important;
    /* color: white !important; */
}

.material-icons {
    color: rgb(167, 144, 144) !important;
}

a {
    color:#219EBC !important;
    text-decoration: none !important;
    background-color: transparent !important;
}

.nav li a {
    /* position: relative !important; */
    /* display: block !important; */
    position: fixed; top: auto !important;
}

a:hover {
    color:#FFB703!important;
}

html {
    font-family: 'Roboto', sans-serif !important;
}
